/* Extra small devices (phones, less than 768px) */
@media (max-width : 766px) {
	.intro h1 {
		font-size: 36px;
		line-height: 1.2;
	}

	.intro p {
		font-size: 15px;
	}

	.social-icons ul {
		margin-left: 0;
	}

	.social-icons li {
		padding: 0;
	}

	.social-icons a i {
		margin: 0 5px;
	}

	.mouse-icon {
		display: none;
	}

	.navbar-custom .navbar-brand,
	.navbar-custom .navbar-nav > li > a,
	.navbar-custom .navbar-nav .dropdown-menu > li > a {
		padding: 10px 15px;
	}

	.navbar-custom .dropdown-menu {
		margin-left: 20px;
	}

	/* about me section */
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	ul.list-check li {
		width: 100%;
	}

	ul.list-dots li {
		width: 100%;
	}

	.download-button .btn {
		margin-bottom: 20px;
	}

	/* resume */
	.resume:before,
	.resume:after {
		left: 1px;
	}

	/* skill section */
	.skill-title h3 {
		font-size: 12px;
	}

	/* experience section */
	.experience-item {
		padding: 24px 20px;
	}

	.experience-header {
		flex-direction: column;
	}

	.experience-title-group h3 {
		font-size: 18px;
	}

	.experience-date {
		align-self: flex-start;
	}

	/* section title */
	.section-title {
		font-size: 28px;
	}

	/* facts section */
	.count-wrap i {
		font-size: 40px;
	}

	.count-wrap h3 {
		font-size: 30px;
		line-height: 16px;
	}

	.count-wrap p {
		font-size: 10px;
		font-weight: 400;
		line-height: 18px;
	}

	.count-wrap > div {
		margin-bottom: 40px;
	}

	#filter li {
		margin-bottom: 20px;
	}

	/* blog section */
	.blog-post-wrapper {
		margin-bottom: 40px;
	}

	/* hire us section */
	.hire-section h2 {
		line-height: 40px;
	}

	/* contact section */
	.contact-form {
		margin-bottom: 40px;
	}

	.contact-section div > i {
		float: none;
		margin-right: 0;
	}

	.center-xs {
		text-align: center;
	}
}

/* Landscape Mobile */
@media only screen and (min-width : 480px) and (max-width : 767px) {
	.intro h1 {
		font-size: 48px;
		line-height: 1.2;
	}

	.social-icons ul {
		margin-left: -5px;
	}

	.social-icons li {
		padding: 0 5px;
	}

	.social-icons a i {
		margin: 0 7px;
	}

	.mouse-icon {
		display: none;
	}

	.navbar-custom .navbar-brand,
	.navbar-custom .navbar-nav > li > a,
	.navbar-custom .navbar-nav .dropdown-menu > li > a {
		padding: 10px 15px;
	}

	.navbar-custom .dropdown-menu {
		margin-left: 20px;
	}

	/* about me section */
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	ul.list-check li {
		width: 50%;
	}

	ul.list-dots li {
		width: 50%;
	}

	/* resume */
	.resume:before,
	.resume:after {
		left: 1px;
	}

	/* skill section */
	.skill-title h3 {
		font-size: 12px;
	}

	/* experience section */
	.experience-item {
		padding: 28px 24px;
	}

	.experience-header {
		flex-direction: column;
	}

	/* facts section */
	.count-wrap i {
		font-size: 64px;
	}

	.count-wrap h3 {
		font-size: 50px;
		line-height: 28px;
	}

	.count-wrap p {
		font-size: 18px;
		font-weight: 700;
		line-height: 28px;
	}

	.count-wrap > div {
		margin-bottom: 40px;
	}

	/* blog section */
	.blog-post-wrapper {
		margin-bottom: 40px;
	}

	/* hire us section */
	.hire-section h2 {
		line-height: 40px;
	}

	/* contact section */
	.contact-form {
		margin-bottom: 40px;
	}

	.center-xs {
		text-align: center;
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width : 768px) and (max-width : 991px) {
	.navbar-custom .navbar-brand {
		padding: 10px 15px;
	}

	.navbar-custom .navbar-nav > li > a,
	.navbar-custom .navbar-nav .dropdown-menu > li > a {
		font-size: 11px;
		padding: 15px 10px;
	}

	/* about me section */
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	/* resume */
	.resume:before,
	.resume:after {
		left: 0px;
	}

	/* skill section */
	.skill-title h3 {
		font-size: 13px;
	}

	/* experience */
	.experience-title-group h3 {
		font-size: 20px;
	}

	/* blog section */
	.blog-post-wrapper {
		margin-bottom: 40px;
	}

	.entry-meta ul li {
		padding: 0 5px;
	}

	/* contact section */
	.contact-form {
		margin-bottom: 40px;
	}

	.center-xs {
		text-align: left;
	}

	.portfolio-item {
		min-height: 162px;
	}
}



/* Medium devices (desktops, 992px and up) */
@media (min-width : 992px) and (max-width : 1199px) {

	.portfolio-item {
		min-height: 150px;
	}

	.download-button a {
		margin-right: 10px;
	}
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width : 1200px) and (max-width : 1279px) {

}

/* Large devices (large desktops, 1280px and up) */
@media screen and (min-width:1280px) and (max-width:1599px) {

}

/* Extra Large devices (large desktops, 1600px and up) */
@media screen and (min-width:1600px) and (max-width:1920px) {

}
